node_modules
.DS_STORE
*.php
readme.html
license.txt
wp-admin
wp-includes
!bkp
!/wp-content/**/*.php
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
.htaccess