node_modules
.DS_STORE
*.php
!/wp-content/themes/**/*.php
readme.html
license.txt
wp-admin
wp-includes
!bkp
wp-content/plugins/**/**
.htaccess
wp-content/languages
wp-content/updraft
wp-content/uploads