// Styles for Blog Section on Index

.blog-section {
    padding: 5rem 0 2rem 0;
}

.last-post-column {
    & > h5 {
        @include paragraph-i;
        color: $main-color;
        margin-bottom: 0;
    }

    & a.post-title {
        display: block;
        @include heading-2;
        color: $main-color;

        &:hover {
            text-decoration: none;
        }
    }

    & .post-author {
        display: block;
        @include paragraph-i;
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
}

hr {
    margin-top: 0.5rem !important;
}

.most-liked-tags {
    & > h5 {
        @include paragraph-i;
        color: $main-color;
        margin-bottom: 0;
    }
}

a.tag-cloud-link {
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 5px;
    background: $second-color;
    color: $main-color;
    transition: all .15s ease-in;

    &:hover {
        background: darken($second-color, 10%);
        text-decoration: none;
    }
}

button.show-full-post {
    @include button-std;
    background: $main-color;
    margin: 2rem 0 0;
    padding: 0.375rem 0.75rem;

    @media screen and (max-width: 425px) {
        width: 100%;
    }

    &:hover {
        background-color: darken($main-color, 10%);
        letter-spacing: 0.2pt;
    }

    &:active {
        background-color: $main-color;
    }
    & a {
        color: $white;
        text-decoration: none;
    }
}

img.wp-post-image {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.most-liked-tags {
    @media screen and (max-width: 425px) {
        margin-top: 32px;
    }    
}

.tag-cloud {
    list-style: none;
    padding: 0;
}