.contact-section {
  padding: 5rem 0 2rem 0;
  background: $main-color;
  font-weight: 300;
  color: $white;

  h1,
  p {
    color: $white;
  }

  label {
    margin: 0;
  }

  a,
  input[type=submit] {
    display: inherit;
    margin: 2rem 0;
    @include button-std;
    background: $second-color;
    color: $main-color;
    line-height: 2.2;

    &:hover {
      background-color: darken($second-color, 10%);
      letter-spacing: 0.2pt;
    }
  }

  input::placeholder,
  input:-ms-input-placeholder,
  input::-ms-input-placeholder,
  textarea::placeholder,
  textarea:-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: rgba($main-color, 0.4);
  }

  textarea:focus,
  input:focus {
    box-sizing: border-box;
    outline: none !important;
    border: 1px inset $second-color !important;
    box-shadow: 0 0 5px $second-color !important;
  }

  .debit-form {
    background: $main-color;
    border: 2px solid $second-color;
    color: $second-color;

    &:hover {
      background: $main-color;
      letter-spacing: 0.2pt;
    }
  }

  small {
    opacity: 0.5 !important;
    line-height: 1 !important;
    font-style: italic;
  }

  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
      font-size: 0.85rem !important;
      color: $second-color !important;
    }
  }
}

// Styles for WP Contact Form 7 Plugin
.form-check {
  padding: 0;
}

.wpcf7-not-valid-tip {
  position: relative;
  padding: 8px 10px;
  margin-top: 8px;
  margin-left: 5px;
  width: 210px;
  font-size: 0.75rem !important;
  color: $second-color !important;
  text-align: center;
  border: 1px solid $second-color;
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 4px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-top-color: $second-color;
    border-right-color: $second-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    background: $main-color;

  }
}

// Styles for custom checkbox
.wpcf7-list-item {
  margin: 0 !important;

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &+.wpcf7-list-item-label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    &+.wpcf7-list-item-label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }

    &:hover+.wpcf7-list-item-label:before {
      background: $second-color;
    }

    &:focus+.wpcf7-list-item-label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked+.wpcf7-list-item-label:before {
      background: $second-color;
    }

    &:checked+.wpcf7-list-item-label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: $main-color;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $main-color,
        4px 0 0 $main-color,
        4px -2px 0 $main-color,
        4px -4px 0 $main-color,
        4px -6px 0 $main-color,
        4px -8px 0 $main-color;
      transform: rotate(45deg);
    }
  }
}

// Styles for alert messages
.wpcf7-response-output {
  position: fixed;
  top: 103px;
  left: 0;
  margin: 0 !important;
  width: 100%;
  z-index: 9998;

}

.wpcf7-validation-errors {
  padding: 1rem 4.5rem !important;
  color: darken($second-color, $amount: 40%);
  background: $second-color;
  border: none !important;

  &:before {
    content: '\f06a';
    position: absolute;
    top: 10px;
    left: 40px;
    width: 28px;
    height: 28px;
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: 900;
    color: darken($second-color, $amount: 40%);
    opacity: 0.75;
  }
}

.wpcf7-mail-sent-ng {
  padding: 1rem 4.5rem !important;
  color: darken($color: #e24b4b, $amount: 40%);
  background: #e24b4b;
  border: none !important;

  &:before {
    content: '\f06a';
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 20px;
    height: 20px;
    color: darken($color: #e24b4b, $amount: 40%);
    opacity: 0.75;

  }
}

.wpcf7-mail-sent-ok {
  padding: 1rem 4.5rem !important;
  color: darken($color: #7bad66, $amount: 40%);
  background: #7bad66;
  border: none !important;

  &:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 20px;
    height: 20px;
    color: darken($color: #7bad66, $amount: 40%);
    opacity: 0.75;
  }
}

.ajax-loader {
  position: relative;
  width: 250px;
  border: 1px solid red;
  background-image: none !important;

  &:before {
    content: '\f2f1';
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    color: $second-color;
    -webkit-animation: rotating 3s infinite;
    animation: rotating 3s infinite;
  }
  
  &:after {
    content: 'enviando mensagem...';
    position: absolute;
    left: 30px;
    width: 250px;
    font-size: 1rem;
    color: $second-color;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
