//Styles for Destination Package Section
.destination-section {
    height: calc(100vh - 92px);
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 425px) {
        height: auto;
    }
}

.destination-detail {
    background: rgba($main-color, .95);
    position: relative;
    width: 380px;
    height: calc(100vh - 110px);
    top: 42px;
    left: 42px;
    padding: 2rem;
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 30px -2px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 2px 30px -2px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 2px 30px -2px rgba(0, 0, 0, 0.28);

    @media screen and (max-width: 425px) {
        width: 90%;
        height: 110vh;
        left: 5%;
        padding: 1rem;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 2rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 12px 0 12px;
        border-color: rgba($main-color, .9) transparent transparent transparent;
    }

    &>h1 {
        @include heading-1;
        color: $second-color;
        letter-spacing: 1pt;
        margin: 0;
        padding: 24px 0 0;

        &:before {
            content: '';
            width: 40px;
            border-bottom: 2px solid $second-color;
            position: absolute;
            top: 32px;
            z-index: 9999;
        }
    }

    &>small {
        @include normal-regular-i;
        color: rgba($white, .70);
        font-size: 1rem;
        margin: 8px 0 32px 0;
        display: block;
    }

    .dest-period {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 700;
        color: #fec578;
    }

    &>p {
        @include paragraph;
        color: $white;
        line-height: 1.8;
    }

    &>.more-info-btn {
        @include button-std;
        margin: 2rem 0 4rem 0;
        background: $second-color;
        color: $main-color;

        &:hover {
            background-color: darken($second-color, 10%);
            letter-spacing: 0.2pt;
        }

        @media screen and (max-width: 425px) {
            width: 100%;
            margin: 2rem auto;
        }
    }

    &>.more-info-btn:active {
        background-color: $second-color;
    }
}

.package-includes {
    justify-content: center;
    @media screen and (max-width: 425px) {
        flex-wrap: nowrap;
    }
}