// Styles for Destination About Section

.destination-about {
    display: none;
    padding: 8rem 0 2rem 0;
    background: $second-light-color url('images/world-map.png') center center /contain no-repeat;
    background-attachment: fixed;

    @media screen and (max-width: 425px) {
        padding: 3rem 0;
    }

    & p {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & li {
        margin-bottom: 1rem;
    }
}

.destination-price {
    margin: 2rem 0;
}

.package-icon {
    &:after {
        content: '+';
        position: absolute;
        top: 0;
        right: -13px;
        font-size: 3rem;
        color: $main-color;
    }

    &:last-of-type:after {
        display: none;
    }
}

.icon-wrapper {
    @include icon-wrapper;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    & .icon {
        position: relative;
        top: -3px;
        left: 10px;
        width: 32px;
        height: 32px;
    }

    & img.icon.-terrestre {
        position: relative;
        top: -1px;
        width: 40px;
        height: auto;
    }
}

.icon-label {
    @include paragraph-strong;
    display: block;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
}

.package-price {
    padding-left: 2rem;
    @media screen and (max-width: 425px) {
        padding-left: 15px;
        &:before {
            display: none;
        }
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        border-left: 2px solid $main-color;
    }
}

.buy-package {
    @include button-std;
    display: block;
    background: $main-color;
    margin: 2rem 0 0;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    @media screen and (max-width: 425px) {
        width: 100%;
    }

    &:hover {
        background-color: darken($main-color, 10%);
        letter-spacing: 0.2pt;
        text-decoration: none;
        color: $white;
    }

    &:active {
        background-color: $main-color;
    }
}

.package-more-info {
    width: 100%;
    height: 450px;
    margin: 0 auto;

    & .more-info-tab {
        display: block;
        border-radius: 3px 3px 0 0;
        padding: 1rem 1rem;
        margin-right: 0.5rem;
        width: 160px;
        text-align: center;
        color: $main-color;
        transition: all 0.25s ease-in;

        &:hover {
            text-decoration: none;
            background: darken($second-light-color, 10%);
        }

        &.active {
            background: $second-color;
            font-weight: bold;
        }
    }

    & .more-info-content {
        border: 1px solid $second-color;
    }
}

.tab-content {
    max-height: 370px;
    background: darken($second-light-color, 1%);
    overflow: scroll;
}

.nav-tabs {
    border-bottom: 2px solid $second-color;
}

.tab-pane {
    padding: 40px;
    @include paragraph;
    color: $main-color;
    @media screen and (max-width: 425px) {
        padding: 16px 24px;
    }

    & ul {
        margin-left: 16px;
    }
}