
.destination-packages {
  &__list {
    display: flex;
  }

  .card {
    width: 100%;

    @media screen and (min-width: 425px) {
      margin-right: 1rem;
      margin-bottom: 2.5rem;
      width: calc(33% - .5rem)
    }
  }

  .card-img-top {
    height: 180px;
    object-fit: cover;
  }

  .show-full-post {
    margin-top: 0;
  }

  &__country {
    position: relative;
    top: -1rem;
    left: 0;
    width: 100%;
  }

  &__country-tag {
    position: relative;
    padding: 0.35rem .75rem;
    background-color: $main-color;
    font-size: .75rem;
    color: $white;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      right: -25px;
      height: 26px;
      width: 25px;
      border-style: solid;
      border-width: 12.5px 0 12.5px 16px;
      border-color: transparent transparent transparent $main-color;
    }
  }

  &__description {
    & p, span, strong, em, b {
      font-size: 13px;
    }
  }

  .view-the-package {
    @include button-std;
    width: 100%;
    margin-top: 1.5rem;
    display: block;
    background: $second-color;
    font-size: 16px;
    color: $main-color;
    line-height: 48px;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: darken($second-color, 10%);
        letter-spacing: 0.2pt;
    }

    @media screen and (max-width: 425px) {
        width: 100%;
        margin: 2rem auto;
    }
  }
}